<!DOCTYPE html>
<html>
<head>
	<title>Email</title>
</head>
<body>
    <h1>Evaluation of Application</h1>

	<p>Dear {{ full_name }},</p>
	
	<p>Your {{ event_name }} application for {{ event_role }} on {{ event_date }} at {{ event_location }} has been examined.</p>
	
	<p>It has been determined that your application has been '{{ event_status }}'</p>
	
	<p>If your application has been labeled as redraft, this means you need to edit it and submit it again from your status page.</p>

	<p>Best regards,</p>

	<p>Matthew Pouss</p>
    
    <div style="background-color: #f2f2f2; padding: 10px; text-align: bottom;">
		<p>Re-Link</p>
		<p>Career Center</p>
		<p>Mount St. Mary's University</p>
		<p>Emmitsburg, MD</p>
	</div>
</body>
</html>