<!DOCTYPE html>
<html>
<head>
	<title>Admin Notification Email</title>
</head>
<body>
    <h1>Notification Email</h1>

	<p>Dear ADMIN,</p>
	
	<p>There is a new application regarding {{ event_name }} for {{ event_role }} on {{ event_date }} for {{ full_name }}.</p>
	
	<p>This application is currently ready to be evaluated.</p>
	
	<p>Sincerely,</p>

	<p>Re-Link System</p>
    
    <div style="background-color: #f2f2f2; padding: 10px; text-align: bottom; width: 50%;">
		<p>Re-Link</p>
		<p>Career Center</p>
		<p>Mount St. Mary's University</p>
		<p>Emmitsburg, MD</p>
	</div>
</body>
</html>